@media (max-width: 500px) {
    .navbar{
        height: 115px;
    }
    .navbar .flex{
        flex-direction: column;
        
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0, 0.1);
        overflow: auto;
    }
    .footer {
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .languages .flex {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .grid, .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }
    .intro-image{
        height: 100px;
        width: 100px;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }
}