@media (max-width: 500px) {
    .navbar{
        height: 135px;
    }
    .navbar .flex{
        flex-direction: column;    
    }
    .navbar ul{
        padding: 5px;
        margin: 0 20px;
    }
  
    .navbar ul li {
        margin-left: 5px;
    }

    .footer {
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .footer h1,p,ul{
    margin-left: 30px;
    }  
    .footer .social{
        margin-right:20px;
    }

    .languages .flex {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .grid, .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }
    .intro-image{
        height: 100px;
        width: 100px;
        margin: 10px 150px;
        margin-bottom: 40px;
    }
    .workbook{
        height: auto;
        margin-top: 20px;
    }
    .workbook .grid3{
        text-align: center;
    }
    .workbook i,h4{
        margin: 10px 155px;
    }
   
    .workbook h3{
        font-size: 20px;
    }
    .freelance-span{
        font-size: 25px;
    }
    nav {
        overflow: hidden;
    }

}