@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --primaryColor: #202c39;
    --secondaryColor: #283845;
    --fontPrimary: #eff1f3;
    --fontSecondary: #dbd3d8;
    --font3: #d8b4a0;
    --font4: #d1827f;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: var(--secondaryColor);

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
p {
    margin: 10px 0;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

/* Navbar */

.navbar {
    background-color: var(--primaryColor);
    color: var(--fontPrimary);
    height: 90px;
  }
  
.navbar ul {
    display: flex;
    top: 50%;
    left: 50%;
  }
  
.navbar a {
    color: var(--font3);
    padding: 10px;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
    position: relative;
  }

  .navbar a::before{
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      border-top: 2px solid var(--font3);
      border-bottom: 2px solid var(--font3);
      transform: scaleY(2);
      opacity: 0;
      transition: .3s;
  }

  .navbar a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--font3);
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
  }
  
  .navbar a:hover {
      color: var(--fontPrimary);
  }
  .navbar a:hover:before{
    transform: scaleY(1);
    opacity: 1;
  }
  .navbar a:hover:after{
    transform: scaleY(1);
    opacity: 1;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }
  .navbar .logo{
    font-weight: 600;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.5s ease;  
  }
  .navbar .logo:hover{
    color: var(--font3);
  }
/* Showcase */

.showcase {
    height: 600px;
    justify-content: center;
    align-items: center;
    color: var(--fontPrimary);
    position: relative;
}

.showcase .intro-span {
    color: var(--fontPrimary);
    font-weight: 600;
}
.showcase h1 {
    font-size: 40px;
    color: #f0e6ef;
  }
.showcase p {
    font-size: 26.8px;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #f0e6ef;
}
.btn-hire{
    margin: 20px auto;
    border: none;
    position:relative;
    padding: 10px 34px;
    font-size: 22px;
    border-radius: 2px;
    overflow: hidden;
}
.btn-hire::before{
    content: '';
    width: 50%;
    height: 100%;
    background: var(--font3);
    position: absolute;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 0%;
    left: 0%;
}
.btn-hire .text-hire{
    color: var(--fontPrimary);
    mix-blend-mode: difference;
}
.btn-hire:hover::before{
    width: 100%;
    background-color: var(--font3);
}
.intro-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 80px;
}

  /* Footer */
  .footer {
      background-color: var(--primaryColor);
      color: var(--fontPrimary);
      padding: 5rem 0rem;
      height: auto;
  }
 

  .footer .navlinks{
      font-weight: 600;
  }
  .footer .navlinks:hover{
      opacity: 0.8;
      color: var(--fontPrimary);
  }
  
  .footer a .social {
      color: var(--fontPrimary);
  }
  .footer h1 {
      color: white;
      font-weight: 600;
  }
.footer a, .social {
    color: var(--font3);
}

.footer .social ul {
    display: flex;
    top: 50%;
    left: 50%;
}
.footer .social ul li {
    list-style: none;
}

.footer .social ul li a{
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    line-height: 60px;
    font-size: 40px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    background-color: var(--fontPrimary);
    border: 3px solid var(--fontPrimary);
    position: relative;
}

.footer .social ul li a .icon{
    position: relative;
    color: var(--primaryColor);
    transition: 0.5s;
    z-index: 3;
}

.footer .social ul li a:hover .icon{
    color: var(--fontPrimary);
    transform: rotateY(360deg);
}

.footer .social ul li a::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}
.footer .social ul li a:hover:before{
    top: 0%;
}

.footer .social ul li:nth-child(1) a:before{
    background: #211F1F;
}
.footer .social ul li:nth-child(2) a:before{
    background-color: #4267B2;
}
.footer .social ul li:nth-child(3) a:before{
    background-color: #2867B2;

}
.footer .social ul li:nth-child(4) a:before{
    background-color: #1DA1F2;

}
.footer .social ul li:nth-child(5) a:before{
    background-color: #ff0000;

}
/* Workbook */

.workbook {
    color: var(--fontPrimary);
    height: auto;
    overflow: hidden;
}

.freelancer-heading{
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 400;
}
.freelancer-heading span{
    color: var(--font3);
}
.freelance-span {
    font-weight: 600;
}

.workbook h4{
    color: var(--font4);
    font-size: 20px;
    font-weight: 600;
}

.workbook i{
    margin: 1.5rem 0;
}

/* Languages */

.languages {
    color: var(--fontPrimary);
}


.skillset {
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 400;
}

.card h4{
    opacity: 0;
    transition: 0.4s ease;
}
.card .lang{
    font-size: 75px;
}

.card {
    position:relative;
    align-items:flex-end;
    transition: 0.4s ease-out;
}
.card:hover{
    transform: translateY(10px);
}
.card::before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0%;
    left: 0%;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.card:hover::before{
    opacity: 1;
}
.card .lang {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 15px;
    left: 0;
    border-radius: 5px;
  }

  .card h4 {
    position: relative;
    z-index: 3;
    color:var(--fontPrimary);
    font-size: 20px;
    opacity: 0;
    text-align: center;
    transform: translateY(20px);
    transition: 0.5s;
  }

.card:hover h4{
    opacity: 1;
    transform: translateY(0px);
}